@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,400;1,100&display=swap");
:root {
  --primary-color: #8300b8;
  --dark-gray: #6b7280;
  --off-white: #f3f4f6;
}

hr {
  margin: 3rem 0rem;
}

body {
  font-family: "Mali", cursive;
  margin: 0px;
  background: linear-gradient(80deg, #000000, #020024, #000, #000);
  animation: gradient 3s ease infinite;
}
@keyframes radialGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.container {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.container-center {
  max-width: 400px;
  letter-spacing: -0.02rem;
  position: relative;
  color: #1f2937;
  margin: 20px auto;
  /* display: inline-block; */
}

.container1 {
  padding: 0.9rem;
  border: 1px solid #b300ff;
  border-radius: 5px;
  /* box-shadow: 1px 2px 1px  #b300ff; */
}

@media screen and (min-width: 601px) {
  h1 {
    font-size: 20px;
    color: #f3f4f6;
  }
  p {
    font-size: 18px;
    color: #f3f4f6;
  }
}

@media screen and (max-width: 600px) {
  p {
    font-size: 15px;
    color: #f3f4f6;
  }
  h1 {
    font-size: 15px;
    color: #f3f4f6;
  }
}

.container-center1 {
  max-width: 600px;
  width: 60%;
  letter-spacing: -0.02rem;
  position: relative;
  color: #f3f4f6;
  margin: auto;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* gap: 1rem; */
}

@media only screen and (max-width: 900px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 1rem; */
  }
}

@media only screen and (max-width: 500px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 1rem; */
  }
}

.box {
  border-radius: 1rem;
  font-size: 1.1rem;
  text-align: left;
  overflow-wrap: break-word;
}

.links {
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.5rem;
}

.link {
  text-decoration: none;
  padding: 0.5rem;
  display: inline-block;
  margin: 0.3rem;
}

.primary-link {
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  color: var(--primary-color);
  font-weight: bold;
}

.primary-link:hover {
  background-color: var(--primary-color);
  color: var(--off-white);
  border: 1px solid var(--primary-color);
}

.secondry-link {
  color: var(--off-white);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}

.secondry-link:hover {
  color: var(--off-white);
  background-color: var(--primary-color);
}

.button {
  color: white;
  border-radius: 0.5rem;
  border: 3px solid var(--primary-color);
  display: inline-block;
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 0.5rem;
}

.button1 {
  color: var(--off-white);
  border-radius: 0.5rem;
  border: 3px solid var(--off-white);
  display: inline;
  padding: 0.5rem 1rem;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(158, 138, 138);
}

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: flex;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.1rem;
}

.navigation {
  background-color: #000000;
  color: white;
  padding: 0.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom: 1px solid #8300b8;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation .links {
  color: white;
}

.links:hover {
  text-decoration: underline;
}

.hero {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  vertical-align: middle;
}

.hero .hero-img {
  max-width: 100%;
  display: block;
  margin: auto;
  height: auto;
}

img {
  width: 22rem;
}

.hero .hero-heading {
  padding-top: 0.5rem;
  font-size: 1.7rem;
  color: var(--dark-gray);
  text-align: center;
}

.hero .hero-heading .heading-inverted {
  color: var(--primary-color);
}

.section {
  padding: 2rem;
}

.section h1 {
  text-align: center;
}

small {
  color: #f3f4f6;
}

.footer {
  padding: 1rem 1rem;
  text-align: center;
  color: white;
  border-top: 1px solid #8300b8;
  border-top-right-radius: 1rem;
}

.footer .links {
  color: white;
}

.combine {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.footer ul {
  padding-inline-start: 0px;
}

.footer .footer-header {
  font-size: large;
  font-weight: bold;
}

.showcase-list {
  padding: 2rem;
}

.section h1 {
  text-align: center;
}

.box b {
  color: #8300b8;
}
